// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~bootstrap-icons/font/bootstrap-icons";

nav {
    background-color: #f6993f !important;
    padding-block: 1rem;
}

main.main-container {
    width: 80vw;
    margin: auto;
    margin-top: 3rem;

    .relative-container {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;

        .form-title {
            color: #f6993f;
            text-align: center;
            font-size: 2rem;
        }

        .form-container {
            background-color: white;
            border: 1px solid #f6993f;
            border-radius: 10px;
            width: 50%;
            margin: auto;
            margin-top: 3rem;
            padding: 2rem 3rem;
            box-shadow: 2px 5px 10px rgba(52, 52, 52, 0.18);

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;

                .input-container {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 35% 65%;

                    label {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        color: #f6993f;
                        font-size: 1rem;
                    }

                    input {
                        background-color: rgb(230, 230, 230, 0.5);
                        padding-block: 0.3rem;
                        padding-inline: 0.2rem;
                        border: 1px solid transparent;
                    }
                }

                .categories-input {
                    width: 100%;
                    margin-top: 0.5rem;

                    p {
                        color: #f6993f;
                        font-size: 1rem;
                    }
                    .categories-container {
                        margin: 0;
                        padding: 0;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                }
            }
        }

        @media (max-width: 1000px) {
            .form-container {
                width: 70%;
            }
        }

        @media (max-width: 700px) {
            .form-container {
                width: 90%;
            }
        }

        .error-container {
            width: 100%;
            margin: auto;
            background-color: rgba(255, 0, 0, 0.2);
            border: 1px solid red;
            margin-bottom: 1.5rem;

            p {
                color: red;
                text-align: center;
                padding-block: 0.3rem;
                margin: 0 !important;
            }
        }

        .menu-items-container {
            padding-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 1rem;

            .single-menu-item {
                background-color: white;
                border: 1px solid #f6993f;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                justify-content: space-between;

                h3 {
                    font-size: 1rem;
                    color: #f6993f;
                    font-weight: 800;
                    padding-bottom: 1rem;
                }

                a {
                    color: #f6993f;
                }
            }

            .single-menu-item.add {
                justify-content: center;
                align-items: center;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        margin: 0;
                    }
                    p:hover {
                        text-decoration: underline;
                    }
                }
                a:hover {
                    text-decoration: none;
                }

                .plus-btn {
                    width: 3rem;
                    height: 3rem;
                    border: #f6993f solid 3px;
                    border-radius: 50%;
                    font-size: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;
                }

                .plus-btn:hover {
                    background-color: #f6993f;
                    color: white;
                }
            }
        }

        .dish {
            margin-top: 3rem;
        }

        .piatto-container {
            padding-top: 3rem;
            width: 50%;
            margin: auto;

            div {
                display: grid;
                grid-template-columns: 30% 70%;
                margin-bottom: 1rem;

                .titolo {
                    font-size: 1rem;
                    color: #f6993f;
                }
            }

            .single-dish-btn-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                margin-top: 4rem;
            }
        }

        @media (max-width: 1000px) {
            .piatto-container {
                width: 70%;
            }
        }

        @media (max-width: 700px) {
            .piatto-container {
                width: 90%;
            }
        }
    }

    .back-button {
        font-size: 2rem;
        color: #f6993f;
        border: #f6993f 3px solid;
        border-radius: 50%;
        padding: 0.1rem 1.1rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .back-button:hover {
        background-color: #f6993f;
        color: white;
        text-decoration: none;
        border: #f6993f 3px solid;
        border-radius: 50%;
        padding: 0.1rem 1.1rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    a.button-global {
        button {
            background-color: white;
            border: #f6993f solid 1px;
            padding-inline: 1.5rem;
            padding-block: 0.3rem;
            color: #f6993f;
            font-weight: 900;
            font-size: 0.9rem;
            border-radius: 5px;
        }

        button:hover {
            background-color: #f6993f;
            border: transparent solid 1px;
            color: white;
        }
    }

    a.button-global.red {
        button:hover {
            background-color: rgb(220, 67, 67);
        }
    }
    .restaurant-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .my-restaurants-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    a.restaurant-card {
        border: 1px solid #f6993f;
        color: #f6993f;
        border-radius: 10px;
        box-shadow: 2px 8px 20px #31313150;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 1rem;
        .restaurant-class-img {
            width: 100%;
            height: 13rem;
            object-fit: cover;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            padding-bottom: 1rem;
        }
    }

    .single-restaurant-container {
        display: grid;
        grid-template-columns: 55% 45%;
        position: relative;
        padding-left: 6rem;

        img {
            width: 100%;
            object-fit: cover;
            height: 80vh;
        }
    }
    .restaurant-info-container {
        padding-inline: 3rem;
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1,
        h3 {
            color: #f6993f;
        }

        .single-restaurant-btn-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            a {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
    }

    .orders-container {
        padding-bottom: 5rem;
        .orange {
            background-color: #f6993f;

            p {
                color: white;
            }
        }
        .orders-columns {
            display: grid;
            grid-template-columns: 10% 40% 40% 10%;
            border-bottom: 1px solid #f6993f;

            p {
                display: flex;
                font-size: 1rem;
                margin: 0;
                padding-block: 0.5rem;
                padding-left: 1rem;
            }
        }
    }
}
